@import './abstracts/functions';
@import './abstracts/mixins';
@import './abstracts/variables';

@import './base/animation';
@import './base/base';
@import './base/typgraphy';
@import './base/utilities';


.section-notifications {
    background-color: #f9fafe;
    overflow:auto;
}
.ntf{
    background-color:#ffffff;
    width:500px; 
    margin:25px auto;
    padding: 20px;
    border-radius:10px;
}

.unread {
    background-color: #f9fafe;
    background-color: #f9fafe;
}
.ntf__item{
    display:flex;
    margin-bottom:20px;
}
.ntf__item-msg{
    display:flex;
}
.ntf__header{
    display:flex;
}



.section-notifications {
    background-color: #f9fafe;
    overflow:auto;
}
.unread {
    background-color: #f9fafe;
    background-color: #f9fafe;
}

.ntf{
    background-color:#ffffff;
    width:500px; 
    margin:25px auto;
    padding: 20px;
    border-radius:10px;
}
.ntf__item{
    display:flex;
    margin-bottom:20px;
}
//delete this
//delete this

//start here. 
.ntf__item-profile{
    margin-left:20px;
    display:none;
}
.ntf__item-msg{
    color:grey;
}

.name-highlight{
    color:black;
    font-weight:bold;
}

.post-event {
    color: #565252;
}

.ntf__item--time {
    color: darkgrey;
}

@media screen and (max-width: 1023px) {
    .ntf{
    }
}

@media screen and (max-width: 767px) {
    .ntf{
        width:80%;
    }
}

@media screen and (max-width: 424px) {
    .ntf{
        width:90%;
    }
}

@media screen and (max-width: 1023px) {
    .ntf{
    }
}

@media screen and (max-width: 767px) {
    .ntf{
        width:80%;
    }
}

@media screen and (max-width: 424px) {
    .ntf{
        width:90%;
    }
}


// Components
@import './components/redDot';

// Layout
@import './layouts/notifications';
